<%- include('../partials/header') %>

<div class="container py-5">
  <h2 class="mb-4 text-primary">Create New Job Posting</h2>

  <form action="/admin/jobs" method="POST">
    <div class="mb-3">
      <label class="form-label">Type of Fellowship</label>
      <input type="text" name="title" class="form-control" required>
    </div>

    <div class="mb-3">
      <label class="form-label">Subject/Discipline</label>
      <input type="text" name="discipline" class="form-control">
    </div>

    <div class="mb-3">
      <label class="form-label">Location</label>
      <input type="text" name="location" class="form-control" required>
    </div>

    <div class="mb-3">
      <label class="form-label">Qualifications</label>
      <textarea name="qualifications" class="form-control" rows="4" required></textarea>
    </div>

    <div class="mb-3">
      <label for="vacancies" class="form-label">Number of Vacancies</label>
      <input type="number" class="form-control" name="vacancies" required>
    </div>

    <div class="mb-3">
      <label class="form-label">Application Deadline</label>
      <input type="date" name="deadline" class="form-control" required>
    </div>

    <button type="submit" class="btn btn-success">Create Job</button>
  </form>
</div>

<%- include('../partials/footer') %>
